/* animations.css */

/* Conteneur de la barre */
.loading-bar {
  width: 150px; /* Largeur finale de la barre */
  height: 22px;
  border-radius: 1px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform: scaleX(0);
  transform-origin: left;
  animation: expandScale 1.8s ease-out 1.5s forwards;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 0.4s ease-out 3.5s forwards; /* Apparition du texte après chargementde la barre */
}

/* Chargement de la barre  */
@keyframes expandScale {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/* FADE IN*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
